.menuItem {
    line-height: 1.2;
    cursor: pointer;

    .img {
        height: 9rem;

        img {
            width: 100%;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: none;
            // border: none;
            transition: all 0.2s ease-in-out;
        }

        &:hover::after {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    span {
        display: block;
    }

    .prodName {
        margin-top: 0.6rem;
        color: #777777;
        margin-bottom: 0.3rem;
    }

    .prodPrice {
        margin-bottom: 1rem;
    }
}
