table.cartTable{
    margin-bottom: 1rem;
    width:100%;
}

table.cartTable tr{
    width:100%;
    /* border:1px solid salmon; */
    border-bottom: 1px solid #d8d8d8;
}


table.cartTable td.cartProdName{
    width:50%;
}

table.cartTable td{
    padding:0rem 0 1rem 0;
    vertical-align: center;
}

table.cartTable td:last-child{
    text-align: right;
}

/* table.cartTable td:first-child{
    padding:1rem 0 1rem 0;
    vertical-align: center;
} */


table.cartTable td.cartQuantity{
    text-align: right;
    padding-left:1.2rem;
}

table.cartTable td.cartPrice{
    padding-left:0.5rem;
    font-size: 1rem;
    width:24%;
    text-align: right;
}


table.cartTable td.cartDelete{
    padding-left: 1rem;
    width:5%;
}

table.cartTable input.cartDelete{
    background-color:inherit;
    border:none;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    top:3px;
}