@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@import url('../css/reset.css');
@import url('../css/carttable.css');
@import url('../css/ordertable.css');


body{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color:#999999;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 1.4;
}

button:focus,
input:focus {
  outline: 0;
}


div.wrapper{
    background-color: white;
}


div.wrapper{
    width:950px;
    display: flex;
    flex-wrap: wrap;
}

div.menuContainer{
    /* border:1px solid blue; */
    width:57%;
    display: flex;
    flex-flow: row wrap;
}


div.wrapper header{
    width:100%;
}

div.wrapper .header{
    padding:1rem;
}


div.billContainer{
    width:43%;
    /* border:1px solid magenta; */
    position: relative;
    padding: 6.5rem 2rem 2rem 2rem;
    background-color: #f8f8f8;
}


ul.menuList{
    display: flex;
    flex-flow:row wrap;
    text-align: center;
    justify-content: space-between;
}


div.menuContainer header.header img{
    width: 100px;
    margin-left: 1rem;
    margin-top: 1rem;
}



div.menuContainer .menuNav{
    /* border:1px solid green; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color:#b1b1b1;
    letter-spacing: 1.5px;
    cursor: pointer;
}

div.menuContainer .menuNav li{
    display: inline-block;
    padding: 0rem 2rem 1.5rem 0rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}


div.menuContainer .menuArea{
    width:87%;
    /* border:1px solid cyan; */
    margin: 0 auto 2rem auto;
    min-height: 725px;
}


ul.menuList span.prodName{
    margin-top: 0.6rem;
    color:#777777;
    margin-bottom: 0.4rem;
}

ul.menuList span.prodPrice{
    margin-bottom: 1rem;
    
}

ul.menuList span{
    display: block;
}


ul.menuList li{
    width:32%;
    line-height: 1.2;
}

ul.menuList li img{
    width:100%;
}


/* billlist */


div.billContainer header{
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
}

div.billContainer header i{
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
}



div.billContainer h2{
    display: inline;
    margin-bottom: 1.5rem;
}



div.billContainer span.totalValue{
    font-size: 1.5rem;
}


div.billContainer div.total{
    padding:0 2rem;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom:11rem;
    font-size: 1.1rem;
    /* border:1px solid gold; */
    
}

div.billContainer #tableArea{
    height:450px;
    overflow-y:scroll;
}

div.billContainer div#buttonArea{
    left:0;
    right:0;
    padding:2rem;
    width: 100%;
    position: absolute;
    bottom:1rem;
}

div#buttonArea input[type="button"]{

    margin-top: 0.5rem;
    font:inherit;
    letter-spacing: 1px;
    width:100%;
    padding:1rem 1.5rem;
    background-color: black;
    color:white;

    display: block;
}

.active {
    color:black;
    font-weight: 400;
}