.orderList {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;

    &:hover,
    &:active {
        background-color: #d8d8d8;
    }

    &:last-of-type {
        border: none;
    }

    td {
        vertical-align: middle;
        padding: 0.5rem 0;

        // .cartProdName {
        //     width: 50%;
        // }

        &:first-of-type {
            vertical-align: center;
            padding-left: 1rem;
        }

        &:last-of-type {
            text-align: right;
        }
    }

    // .cartQuantity {
    //     text-align: right;
    //     padding-left: 1rem;
    // }

    // .cartPrice {
    //     padding-left: 0.5rem;
    //     font-size: 1rem;
    //     width: 24%;
    //     text-align: right;
    // }

    // .cartDelete {
    //     padding: 0 1rem 0.5rem 1rem;
    //     width: 5%;
    //     vertical-align: middle;

    //     input {
    //         background-color: inherit;
    //         border: none;
    //         font-family: 'Raleway', sans-serif;
    //         font-size: 2rem;
    //         top: 3px;
    //     }
    // }
}
