.orderList {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;

    &:hover,
    &:active {
        background-color: #d8d8d8;
        cursor: pointer;
    }

    &:last-of-type {
        border: none;
    }

    td {
        vertical-align: middle;
        padding: 0.5rem 0;

        // .cartProdName {
        //     width: 50%;
        // }

        &:first-of-type {
            vertical-align: center;
            padding-left: 1rem;
            width: 30%;
        }

        &:last-of-type {
            width: 20%;
        }
    }
}
