.orderItem {
    border-bottom: 1px solid #d8d8d8;

    tr {
        width: 100%;
    }

    &:hover,
    &:active {
        background-color: #d8d8d8;
    }

    &:last-of-type {
        border: none;
    }

    td {
        padding: 0.2rem;
        // border: 1px solid salmon;
    }

    tr.orderDetail {
        td {
            vertical-align: bottom;
        }

        .orderProdName {
            width: 67%;
            padding-top: 0.2rem;
        }

        .prodId {
            width: 15%;
        }

        .orderDataImage {
            width: 18%;

            img {
                width: 100%;
            }
        }
    }

    tr.orderInfo {
        td {
            vertical-align: top;
        }

        .price {
            width: 15%;
        }

        .multiply {
            width: 10%;
        }
    }
}
