.billContainer {
    width: 43%;
    position: relative;
    padding: 6.5rem 2rem 2rem 2rem;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        padding: 0;
        font-size: 1rem;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1.5px;
    }

    header i {
        font-size: 1rem;
        cursor: pointer;
        z-index: 2;
    }

    h2 {
        display: inline;
        margin-bottom: 1.5rem;
    }

    .deleteIcon {
        img {
            width: 1.3rem;
            cursor: pointer;
            transform: scale(1);
            transition: all 0.1s ease-in-out;

            &:hover,
            &:active {
                transform: scale(1.2);
            }
        }
    }

    .orderInfo {
        padding-left: 0.5rem;
        margin-bottom: 1rem;
    }
}
