.billContainer {
    width: 43%;
    border: 2px solid magenta;
    position: relative;
    padding: 6.5rem 2rem 2rem 2rem;
    background-color: #f8f8f8;
}

/* .billContainer header{
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
}

.billContainer header i{
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
}



.billContainer h2{
    display: inline;
    margin-bottom: 1.5rem;
}



.billContainer span.totalValue{
    font-size: 1.5rem;
}


.billContainer .total{
    padding:0 2rem;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom:11rem;
    font-size: 1.1rem;    
}

.billContainer #tableArea{
    height:450px;
    overflow-y:scroll;
}

.billContainer div#buttonArea{
    left:0;
    right:0;
    padding:2rem;
    width: 100%;
    position: absolute;
    bottom:1rem;
}

div#buttonArea input[type="button"]{

    margin-top: 0.5rem;
    font:inherit;
    letter-spacing: 1px;
    width:100%;
    padding:1rem 1.5rem;
    background-color: black;
    color:white;

    display: block;
} */
