.menuList {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    span.prodName {
        margin-top: 0.6rem;
        color: #777777;
        margin-bottom: 0.3rem;
    }

    span.prodPrice {
        margin-bottom: 1rem;
    }

    span {
        display: block;
    }
}
